extends ../layout

block content
  h1 #{title}
  table#pokemon
    tr
      th Numéro National
      th Image
      th Nom
      th Types
    each pokemon in pokemons
      tr
        td ##{pokemon.nationalNumber}
        td
          img.picturePokemon(src=`${pokemon.picture.sprite}` alt=`Sprite de ${pokemon.name.fr}`)
        td.namePokemon
          ul
            li
              a(href=`/pokemons/${pokemon.nationalNumber}` title=`Voir ${pokemon.name.fr}`) #{pokemon.name.fr}
            if pokemon.name.fr !== pokemon.name.en
              li #{pokemon.name.en}
                span.codeISO= "(EN)"
            li #{pokemon.name.ja}
              span.codeISO= "(JA)"
        td
          ul
            each types in pokemon.types
              li
                img.pictureType(src=types.url alt=`Symbole du type ${types.name}`)
  nav
    a(href="/generations") Voir les Générations
    a(href="/") Fermer le Pokédex
    a(href="/types") Voir les Types