extends ../layout

block content
  div#pokemon_show
    section#leftPanel
      article
        h1 #{pokemon.name.fr}
          div#namePokemon
            if pokemon.name.fr !== pokemon.name.en
              span.otherName #{pokemon.name.en}
                span.codeISO= "(EN)"
            span.otherName #{pokemon.name.ja}
              span.codeISO= "(JA)"
        img.picturePokemon(src=pokemon.picture.artwork alt=`Artwork de ${pokemon.name.fr}`)
        div#infoPokemon.column
          if pokemon.description
            p.pokedex-description #{pokemon.description}
          if pokemon.generation
            p.generation= `${pokemon.generation} génération`
        div#container
          div#infoPokemon.column
            h2= "Taille"
            p= `${pokemon.size} m`
          div#infoPokemon.column
            h2= "Poids"
            p= `${pokemon.weight} kg`
        div#infoPokemon
          ul.types
            each types in pokemon.types
              li
                img.pictureType(src=types.url alt=`Symbole du type ${types.name}`)
        div#infoPokemon.row
          h2= "Catégorie"
          p= "Pokémon "
            span#categoryPokemon #{pokemon.category}
        div#infoPokemon.row
          h2= "Point d'effort"
          ul.values
            each EV in pokemon.EVYield
              if EV.isSpecial
                li= `${EV.value} ${EV.type.slice(0,3)}. Spé.`
              else
                li= `${EV.value} ${EV.type}`
        div#infoPokemon.row
          h2= "Point d'expérience"
          p= `${pokemon.baseExperienceYield} exp.`
        div#infoPokemon.row
          h2= "Expérience au niveau 100"
          p= `${hundredExperienceYield} exp.`
        div#infoPokemon.row
          h2= "Taux de capture"
          p #{pokemon.catchRate}
        div#infoPokemon.column
          h2= `Talent${pokemon.abilities.length > 1 ? "s" : ""}`
          ul#abilities.values
            each talent in pokemon.abilities
              li #{talent.name}
                if talent.isHidden
                  span.hiddenTalent= "(Talent caché)"
        
    section#rightPanel
      article#description
        h2= "Quelques informations"
        h3= "Étymologies"
        ul
          li #{"Français, anglais, allemand, japonais, coréen : ソルガレオ (et 솔가레오) Solgaleo vient de sol (soleil, en latin), de Galilée (célèbre astronome, ayant défendu la thèse selon laquelle le soleil est au centre de l'univers) et de leo (lion, en latin)."}
          li #{"Chinois (Cantonais) : 索爾迦雷歐 Sokyíhgālèuihāu vient de ソルガレオ Solgaleo, le nom japonais de Solgaleo."}
          li #{"Chinois (Mandarin) : 索爾迦雷歐 / 索尔迦雷欧 Suǒ'ěrjiāléi'ōu vient de ソルガレオ Solgaleo, le nom japonais de Solgaleo."}
      article#evolution
        h2= "Chaîne d'évolution"
        div#evolution
          img(src="https://www.pokepedia.fr/images/6/6f/Cosmog-SL.png" alt="Artwork de " + "Cosmog")
          h3
            a(href="/pokemons/" + 789 title="Voir " + "Cosmog") #{"Cosmog"}
        div#evolution
          div#meanEvolution
            i(class="fas fa-arrow-alt-circle-down")
            p #{"Niveau 43"}
          img(src="https://www.pokepedia.fr/images/1/12/Cosmovum-SL.png" alt="Artwork de " + "Cosmovum")
          h3 
            a(href="/pokemons/" + 790 title="Voir " + "Cosmovum") #{"Cosmovum"}
        div#container
          div#evolution
            div#meanEvolution
                i(class="fas fa-arrow-alt-circle-down")
                p #{"Pokémon Soleil - Niveau 53"}
            img(src="https://www.pokepedia.fr/images/a/a7/Solgaleo-SL.png" alt="Artwork de " + "Solgaleo")
            h3 #{"Solgaleo"}
          div#evolution
            div#meanEvolution
                i(class="fas fa-arrow-alt-circle-down")
                p #{"Pokémon Lune - Niveau 53"}
            img(src="https://www.pokepedia.fr/images/d/d7/Lunala-SL.png" alt="Artwork de " + "Lunala")
            h3
              a(href="/pokemons/" + 792 title="Voir " + "Lunala") #{"Lunala"}
      
      if pokemon.shape
        article#shape
          h2="Formes"
          div#container
            div#shape-container
              img.picturePokemon(src="https://www.pokepedia.fr/images/f/fc/Solgaleo_%28Phase_Soleil_Levant%29-SL.png", alt="shape de " + "Solgaleo" + ": " + "Phase « Soleil Levant »")
              div#shape-description
                h3 #{"Phase « Soleil Levant »"}
                p #{"Solgaleo dispose d'une « Phase Soleil Levant ». Il entre dans celle-ci quand il utilise sa capacité signature, Choc Météore. Quand Solgaleo entre dans la phase « Soleil Levant », son troisième œil, un symbole bleu clair qui ressemble à une rose des vents apparaît sur son front, et le ciel étoilé devient des gerbes de lumière. La fourrure de son corps devient jaune pâle et toutes les autres parties de son corps, à l’exception de son museau, deviennent jaune vif."}
  nav
    a(href="../pokemons") Fermer la fenêtre