extends ../layout

block content
  h1 #{title}
  table#pokemon
    tr
      th Numéro National
      th Image
      th Nom
      th Types

    tr
      td= '#'+"393"
      td
        img.picturePokemon(src="https://www.pokepedia.fr/images/thumb/5/56/Tiplouf-Pt.png/500px-Tiplouf-Pt.png")
      td
        ul
          li
            a(href="/pokemons/" + "393") #{"Tiplouf"}
          li #{"Piplup"}
            span.codeISO= '(EN)'
          li #{"ポッチャマ (Potchama) Pochama"}
            span.codeISO= '(JA)'
      td
        img.pictureType(src='https://www.pokepedia.fr/images/thumb/4/4c/Miniature_Type_Eau_EB.png/136px-Miniature_Type_Eau_EB.png')
  nav
    a(href='/generations') Voir les Générations
    a(href='/') Fermer le Pokédex
    a(href='/types') Voir les Types