extends ../layout

block content
  h1 #{title}
  table#pokemon
    tr
      th Numéro National
      th Image
      th Nom
      th Types

    tr
      td #{"#" + 791}
      td
        img.picturePokemon(src="https://www.pokepedia.fr/images/a/a7/Solgaleo-SL.png" alt="Artwork de " + "Solgaleo")
      td.namePokemon
        ul
          li
            a(href="/pokemons/" + "791" title="Voir les informations") #{"Solgaleo"}
          li #{"Solgaleo"}
            span.codeISO= "(EN)"
          li #{"ソルガレオ (Sorugareo) Solgaleo"}
            span.codeISO= "(JA)"
      td
        ul
          li
            img.pictureType(src="https://www.pokepedia.fr/images/d/da/Miniature_Type_Psy_EB.png" alt="Symbole du type " + "Psy")
          li
              img.pictureType(src="https://www.pokepedia.fr/images/b/b9/Miniature_Type_Acier_EB.png" alt="Symbole du type " + "Acier")
  nav
    a(href="/generations") Voir les Générations
    a(href="/") Fermer le Pokédex
    a(href="/types") Voir les Types